[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    *migrations*,
    .venv,
    venv,
    build,
    dist
ignore = E203, W503
max-complexity = 10
per-file-ignores =
    core/settings.py: E501
    tasks/admin.py: F401
    tasks/tests.py: F401
